* {
  box-sizing: border-box;
  letter-spacing: -0.4px;
  font-family: "Noto Sans KR,Apple SD Gothic";
  margin: 0;
}

header {
  display: block;
  position: static;
  height: 100%;
  margin: 0 auto;
}
header a {
  color: rgb(43, 43, 43);
  font-family: "Noto Sans KR,Apple SD Gothic";
  font-size: 18px;
  font-weight: 800;
  text-decoration: none;
}

.ad_top {
  margin: 0;
  text-align: center;
}

.ad_top_section {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  background-color: rgb(243, 243, 243);
}
.ad_top_section .ad_top_container {
  margin-block: 10px;
}
.ad_top_section .ad_top_container .ad_title {
  font-weight: 600;
  color: rgb(159, 159, 159);
}
.ad_top_section .ad_top_container img {
  width: 800px;
}

.img img {
  width: 100%;
  height: auto;
}
.img .text {
  text-align: left;
}

.ad {
  margin-top: -640px;
  padding: 80px;
  padding-right: 160px;
  text-align: right;
}

.logo {
  display: inline-block;
  position: relative;
  margin-left: 80px;
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 6px;
}

#articleMenu {
  display: inline-block;
  margin: 0 160px;
  margin-left: 180px;
  line-height: 24px;
  padding: 28px 0;
  position: absolute;
}
#articleMenu .nav_item {
  margin-right: 24px;
  float: left;
}

.img .img_container {
  padding-bottom: 4px;
}
.img .img_container img {
  margin-block: 4px;
}
.img .text {
  text-align: left;
  color: #666;
  font-size: 16px;
}
.img img {
  width: 100%;
  height: auto;
}

.login {
  float: right;
  display: flex;
  position: relative;
  margin: 16px 0px;
  margin-right: 240px;
  padding: 13px;
  color: rgb(81, 81, 81);
  vertical-align: middle;
}
.login a {
  margin-right: 8px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(81, 81, 81);
  margin-left: 8px;
}

.header_option_area {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -3px;
}
.header_option_area .s {
  padding: 6px;
  margin-top: -6px;
}
.header_option_area .h {
  padding: 6px;
  margin-top: -6px;
}

.contents {
  margin: 0px 264px;
  padding: 60px 0px 120px;
}

.article {
  display: block;
  position: relative;
  margin: 0px 310px;
  padding: 0px 0px 60px;
}

.sub {
  display: block;
  position: absolute;
}
.sub p {
  margin: 0;
  display: inline;
  position: relative;
  font-size: 18px;
  font-weight: 800;
  color: #1d1d1d;
}
.sub p1 {
  margin-left: 6px;
  display: inline;
  position: relative;
  font-size: 18px;
  font-weight: 800;
  color: rgb(40, 40, 40);
}

h1 {
  display: block;
  padding-top: 30px;
  margin-top: 8px;
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 800;
  word-break: break-all;
}

.datetime {
  display: flex;
  position: relative;
  float: left;
  vertical-align: bottom;
}
.datetime span {
  display: flex;
  float: left;
  color: #666;
  font-size: 13px;
  line-height: 21px;
  margin-right: 10px;
  padding-right: 4px;
  position: relative;
  margin: 4px;
}
.datetime .time_bx {
  display: flex;
  float: left;
}
.datetime .date {
  display: flex;
  float: left;
  margin: 4px;
  color: #666;
  font-size: 13px;
  letter-spacing: -0.5px;
  line-height: 21px;
}
.datetime .update {
  display: flex;
  float: left;
  margin: 4px;
  color: #666;
  font-size: 13px;
  letter-spacing: -0.5px;
  line-height: 21px;
  padding: 0 8px;
}
.datetime .name {
  display: flex;
  position: relative;
  float: right;
  margin: 4px;
  color: rgb(58, 57, 57);
  font-size: 13px;
  letter-spacing: -0.5px;
  line-height: 21px;
  padding: 0 8px;
  padding-left: 10px;
}
.datetime .name p {
  margin: 0;
  vertical-align: bottom;
  font-weight: 400;
}

.img {
  margin-top: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.article_text p {
  font-size: 18px;
  padding-bottom: 40px;
  letter-spacing: -0.08px;
  word-spacing: -0.4px;
  line-height: 26px;
}

.footer_wrap {
  -webkit-box-pack: justify;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.policy {
  font-size: 14px;
  margin: auto;
  padding-bottom: 16px;
}
.policy a {
  text-decoration: none;
  color: #666;
}
.policy li {
  float: left;
  margin: 0 16px;
}

.promotion {
  list-style: none;
}
.promotion li {
  float: left;
}

.footer_info {
  position: relative;
  background-color: #ededed;
  -webkit-box-pack: justify;
  display: flex;
  justify-content: space-between;
}
.footer_info .footer_wrap {
  margin: auto;
  font-size: 14px;
  padding: 28px 0;
}
.footer_info .footer_wrap p {
  display: block;
  line-height: 22px;
  margin-bottom: 6px;
}

.corp a {
  color: rgb(139, 139, 139);
  text-decoration: none;
}

.con_fit_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 580px;
  height: auto;
  padding-bottom: 28px;
}
.con_fit_section .second_container {
  padding-top: 12px;
}
.con_fit_section .second_container .second_title {
  font-size: 16px;
  font-weight: 600;
  margin-block: 8px;
  padding-bottom: 6px;
  border-color: rgb(225, 225, 225);
  border-width: 0 0 1px 0;
  border-style: solid;
}

.con_fit_container {
  display: flex;
  justify-content: center;
}
.con_fit_container img {
  margin-inline: 4px;
}
.con_fit_container .con_fit_title {
  width: 580px;
  height: auto;
  display: flex;
  border: 0 solid;
  overflow: hidden;
  text-decoration: none;
  color: #111;
  border-width: 4px 0 0 0;
  background: transparent;
  border-style: solid;
  border-color: #333;
  padding: 5px 0px 3px 0px;
  line-height: 28px;
  display: block;
  margin: 0px 0px 0px 0px;
  position: relative;
  background-color: transparent;
  box-sizing: initial;
  font-size: 18px;
  font-weight: 900;
}

.thumbsnail_article_container {
  width: 894px;
  height: auto;
  margin: auto;
}

.tbn_article_title {
  display: flex;
  border: 0 solid;
  overflow: hidden;
  vertical-align: middle;
  text-decoration: none;
  color: #111;
  border-width: 4px 0 0 0;
  background: transparent;
  border-style: solid;
  border-color: #333;
  padding: 5px 0px 3px 0px;
  line-height: 28px;
  display: block;
  margin: 0px 0px 0px 0px;
  position: relative;
  background-color: transparent;
  box-sizing: initial;
  width: 893px;
}
.tbn_article_title .title {
  font-size: 18px;
  font-weight: 900;
  padding-right: 631px;
}
.tbn_article_title .ad_title {
  font-size: 14px;
  align-items: center;
}

.tbn_card_section {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-shrink: 1;
  flex-basis: auto;
  gap: 31px;
}

.tbn_card_container {
  width: 200px;
  height: 220px;
  margin-block: 6px;
}
.tbn_card_container .card_title {
  font-size: 16px;
  font-weight: 700;
  margin-block: 4px;
  line-height: 20px;
}
.tbn_card_container .card_link {
  color: rgb(140, 140, 140);
}

.resort_section {
  margin: auto;
  text-align: center;
  padding-block: 40px;
}