* {
  box-sizing: border-box;
  letter-spacing: -0.4px;
  font-family: 'Noto Sans KR,Apple SD Gothic';
  margin: 0;
}

header {
  display: block;
  position: static;
  a {
    color: rgb(43, 43, 43);
    font-family: 'Noto Sans KR,Apple SD Gothic';
    font-size: 18px;
    font-weight: 800;
    text-decoration: none;
  }
  height: 100%;
  margin: 0 auto;
}

.img {
  img {
    width: 100%;
    height: auto;
  }
  .text {
    text-align: left;
  }
}

.ad {
  margin-top: -640px;
  padding: 80px;
  padding-right: 160px;
  text-align: right;
}

.logo {
  display: inline-block;
  position: relative;
  margin-left: 80px;
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 6px;
}

#articleMenu {
  display: inline-block;
  margin: 0 160px;
  margin-left: 180px;
  line-height: 24px;
  padding: 28px 0 !important;
  position: absolute !important;
  .nav_item {
    margin-right: 24px;
    float: left;
  }
}

.img {
  .text {
    text-align: left;
  }
  img {
    width: 100%;
    height: auto;
  }
}

.login {
  float: right;
  display: flex;
  position: relative;
  margin: 16px 0px;
  margin-right: 240px;
  padding: 13px;
  color: rgb(81, 81, 81);
  vertical-align: middle;
  a {
    margin-right: 8px;
    font-size: 14px;
    font-weight: 400;
    color: rgb(81, 81, 81);
    margin-left: 8px;
  }
}

.header_option_area {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -3px;
  .s {
    padding: 6px;
    margin-top: -6px;
  }
  .h {
    padding: 6px;
    margin-top: -6px;
  }
}

.contents {
  margin: 0px 264px;
  padding: 120px 0px 120px;
}

.article {
  display: block;
  position: relative;
  margin: 0px 310px;
  padding: 0px 0px 60px;
}

.sub {
  display: block;
  position: absolute;
  p {
    margin: 0;
    display: inline;
    position: relative;
    font-size: 18px;
    font-weight: 800;
    color: #1d1d1d;
  }

  p1 {
    margin-left: 6px;
    display: inline;
    position: relative;
    font-size: 18px;
    font-weight: 800;
    color: rgb(40, 40, 40);
  }
}

h1 {
  display: block;
  padding-top: 30px;
  margin-top: 8px;
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 800;
  word-break: break-all;
}

.datetime {
  display: flex;
  position: relative;
  float: left;
  vertical-align: bottom;
  span {
    display: flex;
    float: left;
    color: #666;
    font-size: 13px;
    line-height: 21px;
    margin-right: 10px;
    padding-right: 4px;
    position: relative;
    margin: 4px;
  }
  .time_bx {
    display: flex;
    float: left;
  }
  .date {
    display: flex;
    float: left;
    margin: 4px;
    color: #666;
    font-size: 13px;
    letter-spacing: -0.5px;
    line-height: 21px;
  }
  .update {
    display: flex;
    float: left;
    margin: 4px;
    color: #666;
    font-size: 13px;
    letter-spacing: -0.5px;
    line-height: 21px;
    padding: 0 8px;
  }
  .name {
    display: flex;
    position: relative;
    float: right;
    margin: 4px;
    color: rgb(58, 57, 57);
    font-size: 13px;
    letter-spacing: -0.5px;
    line-height: 21px;
    padding: 0 8px;
    padding-left: 10px;
    p {
      margin: 0;
      vertical-align: bottom;
      font-weight: 400;
    }
  }
}

.img {
  margin-top: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.article_text {
  p {
    font-size: 18px;
    padding-bottom: 40px;
    letter-spacing: -0.08px;
    word-spacing: -0.4px;
    line-height: 26px;
  }
}

.footer_wrap {
  -webkit-box-pack: justify;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.policy {
  font-size: 14px;
  margin: auto;
  padding-bottom: 16px;
  a {
    text-decoration: none;
    color: #666;
  }
  li {
    float: left;
    margin: 0 16px;
  }
}

.promotion {
  list-style: none;
  li {
    float: left;
  }
}

.footer_info {
  position: relative;
  background-color: #ededed;
  -webkit-box-pack: justify;
  display: flex;
  justify-content: space-between;

  .footer_wrap {
    margin: auto;
    font-size: 14px;
    padding: 28px 0;

    p {
      display: block;
      line-height: 22px;
      margin-bottom: 6px;
    }
  }
}

.corp {
  a {
    color: rgb(139, 139, 139);
    text-decoration: none;
  }
}
